::ng-deep .mat-form-field {
    .mat-form-field-underline {
       position: absolute;
       width: 0% !important;
       pointer-events: none;
       transform: scale3d(1, 1.0001, 1);
    }
}

:host ::ng-deep .mat-select-value {
   color: white !important;
 }