<div class="row" #myIdentifier>
    <div class="col-12 mx-auto">
        <h6 class="mb-0 text-uppercase">sop logs</h6>
        <hr>
        <div class="card">
            <div class="card-body">
                <ul
                    class="nav nav-tabs nav-fill"
                    role="tablist">
                    <button
                        class="mySpacer"
                        mat-raised-button
                        [disabled]="prevTabs.length == 0 ? true:false"
                        (click)="prevTab()">
                        <i class="fadeIn animated bx bx-left-arrow-alt"></i>
                    </button>
                    <li
                        class="nav-item"
                        role="presentation"
                        *ngFor="let nav of li">
                        <a
                            class="nav-link"
                            data-bs-toggle="tab"
                            [href]=nav.href
                            [ngClass]="active[nav.index] ?'active':''"
                            (click)="clickActive(nav.index)"
                            role="tab"
                            aria-selected="true">
                            <div class="d-flex align-items-center">
                                <div class="tab-icon">
                                    <i class='bx bx-home font-18 me-1'></i>
                                </div>
                                <div class="tab-title text-uppercase">{{nav.label}}</div>
                            </div>
                        </a>
                    </li>
                    <button
                        class="mySpacer"
                        mat-raised-button
                        [disabled]="nextTabs.length == 0 ? true:false"
                        (click)="nexTab()">
                        <i class="fadeIn animated bx bx-right-arrow-alt"></i>
                    </button>
                </ul>
                <div class="tab-content py-3">
                    <!-- SOP-LOG-1  BEGINING TAB -->
                    <div
                        class="tab-pane fade show active"
                        id="sop-log-1"
                        role="tabpanel">
                        <app-sop-genirc-log
                            [type]="type1"
                            period=1></app-sop-genirc-log>
                    </div>
                    <!-- END TAB  SOP-LOG-1 -->

                    <!-- SOP-LOG-2  BEGINING TAB -->
                    <div
                        class="tab-pane fade"
                        id="sop-log-2"
                        role="tabpanel">
                        <app-sop-genirc-log
                            [type]="type2"
                            period=2></app-sop-genirc-log>
                    </div>
                    <!-- END TAB  SOP-LOG-2 -->
                    <!-- SOP-LOG-3  BEGINING TAB -->
                    <div
                        class="tab-pane fade"
                        id="sop-log-3"
                        role="tabpanel">
                        <app-sop-genirc-log
                            [type]="type3"
                            period=3>
                        </app-sop-genirc-log>
                    </div>
                    <!-- END TAB  SOP-LOG-3 -->
                    <!-- SOP-LOG-4   BEGINING TAB -->
                    <div
                        class="tab-pane fade"
                        id="sop-log-4"
                        role="tabpanel">
                        <app-sop-genirc-log
                            [type]="type4"
                            period=4></app-sop-genirc-log>
                    </div>
                    <!-- END TAB  SOP-LOG-4 -->
                    <!-- SOP-LOG-5  BEGINING TAB -->
                    <div
                        class="tab-pane fade"
                        id="sop-log-5"
                        role="tabpanel">
                        <app-sop-genirc-log
                            [type]="type5"
                            period=5>
                        </app-sop-genirc-log>
                    </div>
                    <!-- END TAB SOP-LOG-5 -->
                    <!-- SOP-LOG-6  BEGINING TAB -->
                    <div
                        class="tab-pane fade"
                        id="sop-log-6"
                        role="tabpanel">
                        <app-sop-suplement></app-sop-suplement>
                    </div>
                    <!-- END TAB SOP-LOG-6 -->
                </div>
            </div>
        </div>
    </div>
</div>
