 table {
   margin: 1rem auto;
   width: 100%;
   overflow-x: auto;
   overflow-y: hidden;
   min-width: 500px;
   box-shadow: -1px 3px 66px 0px rgba(0, 0, 0, 0.75);
 }

 .container {
   display: flex;
   flex-direction: column;
   align-items: flex-end;
   margin: 1rem auto;
   max-width: 100%;
   padding: 1rem;
 }

 .header-text {
   font-size: 24px;
   font-weight: 500;
   color: rgba(0, 0, 0, 0.87);
   font-family: Roboto, "Helvetica Neue", sans-serif;
 }

 th.mat-header-cell,
 td.mat-cell {
   text-align: center;
   max-width: 300px;
 }

 .mySpacer {
   margin: 0.5rem !important;
 }

 .left-space {
   margin-left: 10px;
 }

 mat-card-title {
   border-bottom: 1px solid black;
   line-height: 36px;
 }

 app-mat-data-table {
   margin-top: 10px;
 }

 ::ng-deep th.mat-header-cell {
   color: rgba(#1A73E8, 0.38) !important;
 }

 ::ng-deep .mat-checkbox {
   .mat-checkbox-ripple .mat-ripple-element {
     background-color: rgba(#1A73E8, 0.38) !important;
   }

   .mat-checkbox-frame {
     border-color: rgba(#1A73E8, 0.38) !important;
   }
 }

 ::ng-deep .mat-tooltip-trigger {
   .mat-button-wrapper {
     color: rgba(#1A73E8, 0.38) !important;
   }
 }

 ::ng-deep th.mat-header-cell {
   z-index: 10 !important
 }

 ::ng-deep mat-dialog-container {
   background: #222b45 !important;
 }

 ::ng-deep mat-dialog-container i {
   color: white !important;
 }
