.margin-toogle {
    margin-left: 2.5px;
    margin-right: 5px;
}

.label-toogle {
    vertical-align: top;
}

.containerToggle {
    display: inline-block;
    width: 130px;
    vertical-align: top;
}