<div
    class="wrapper"
    [ngClass]="toggled?'toggled':''"
    [ngClass]="hover"
>
    <!-- sidebar wrapper -->
    <div
        *ngIf="currentUser"
        class="sidebar-wrapper"
        data-simplebar="true"
        (mouseover)=" hoverSideBar($event)"
        (mouseout)=" hoverSideBar($event)"
    >
        <div class="sidebar-header">
            <div>
                <img
                    (click)="clickToggled()"
                    src="assets/img/logo-icon.png"
                    class="logo-icon"
                    alt="logo icon"
                >
            </div>
            <div>
                <h4
                    (click)=" clickToggled()"
                    class="logo-text"
                >
                    QASystem
                </h4>
            </div>
            <div class="toggle-icon ms-auto">
                <i
                    class='bx bx-arrow-to-left'
                    (click)="clickToggled()"
                ></i>
            </div>
        </div>
        <!-- navigation -->
        <!-- <ul class="metismenu" id="menu">
              <li>
                <a href="javascript:;" class="has-arrow">
                    <div class="parent-icon">
                        <i class='bx bx-home-circle'></i>
                    </div>
                    <div class="menu-title">Nomencladores</div>
                </a>
                <ul>
                    <li>
                        <a [routerLink]="['/pages/area/list']">
                            <i class="bx bx-right-arrow-alt"></i>
                            Area
                        </a>
                    </li>
                </ul>
            </li>
            <li>
                <a href="javascript:;" class="has-arrow">
                    <div class="parent-icon">
                        <i class="bx bx-category"></i>
                    </div>
                    <div class="menu-title">Application</div>
                </a>
                <ul>
                    <li>
                        <a href="/pages/area/list">
                            <i class="bx bx-right-arrow-alt"></i>
                            Analisis Pre-operacional
                        </a>
                    </li>
                </ul>
            </li>
            <li class="menu-label">UI Elements</li>
            <li>
                <a href="widgets.html">
                    <div class="parent-icon">
                        <i class='bx bx-cookie'></i>
                    </div>
                    <div class="menu-title">Widgets</div>
                </a>
            </li> 
           
        </ul> -->
        <mat-sidenav
            #drawer
            mode='side'
            [fixedTopGap]=" 0 "
            opened="false "
        >
            <app-sidebar [toggled]="menuClass"></app-sidebar>
        </mat-sidenav>
        <!-- end navigation -->
    </div>
    <!-- end sidebar wrapper -->
    <!-- start header -->
    <header *ngIf="currentUser">
        <div [ngClass]="headerClass">
            <nav class="navbar navbar-expand">
                <div
                    class="mobile-toggle-menu"
                    (click)=" clickToggled()"
                >
                    <i class='bx bx-menu'></i>
                </div>
                <div class="top-menu ms-auto">
                    <ul class="navbar-nav align-items-center">
                        <li
                            id="toggledBtn"
                            class="nav-item mobile-search-icon"
                        >
                            <a
                                class="nav-link"
                                href="#"
                            >
                                <i class='bx bx-search'></i>
                            </a>
                        </li>
                        <li
                            class="nav-item dropdown dropdown-large"
                            *ngIf="currentUser.role==Role.Admin"
                        >
                            <a
                                class="nav-link dropdown-toggle dropdown-toggle-nocaret"
                                href="#"
                                role="button"
                                data-bs-toggle="dropdown"
                                aria-expanded="false"
                            >
                                <i class='bx bx-category'></i>
                            </a>
                            <div class="dropdown-menu dropdown-menu-end">
                                <div class="row row-cols-3 g-3 p-3">
                                    <div class="col text-center">
                                        <div
                                            class="app-box mx-auto"
                                            (click)="register()"
                                        >
                                            <i class='bx bxs-user'></i>
                                        </div>
                                        <div class="app-title">Add user</div>
                                    </div>
                                    <div class="col text-center">
                                        <div
                                            class="app-box mx-auto"
                                            (click)="getAllUsers()"
                                        >
                                            <i class='bx bx-group'></i>
                                        </div>
                                        <div class="app-title">Users list</div>
                                    </div>
                                </div>
                            </div>
                        </li>
                        <li class="nav-item dropdown dropdown-large">
                            <!-- (click)="$event.stopPropagation(); markAllAsRead()"    class="dropdown-menu dropdown-menu-end"  data-bs-toggle="dropdown" -->
                            <a
                                class="nav-link dropdown-toggle dropdown-toggle-nocaret position-relative"
                                role="button"
                                aria-expanded="false"
                                (click)="$event.stopPropagation(); markAllAsRead()"
                            >
                                <span class="alert-count">{{total}}</span>
                                <i class='bx bx-bell'></i>
                            </a>
                            <div
                                #drop
                                [ngClass]="toogleClass"
                            >
                                <a href="javascript:;">
                                    <div class="msg-header">
                                        <p class="msg-header-title">Notifications</p>
                                        <!-- <p
                                            class="msg-header-clear ms-auto"
                                            (click)="$event.stopPropagation(); markAllAsRead()"
                                        >
                                            Mark as read
                                        </p> -->
                                    </div>
                                </a>
                                <div class="header-notifications-list menuScroll">
                                    <ng-container *ngFor="let item of notifications">
                                        <a
                                            class="dropdown-item"
                                            href="javascript:;"
                                            menu-item
                                            (click)="$event.stopPropagation(); viewAllNotifications()"
                                        >
                                            <div class="d-flex align-items-center">
                                                <div class="notify">
                                                    <i class="fadeIn animated bx bx-message-error"></i>
                                                </div>
                                                <div class="flex-grow-1">
                                                    <h6 class="msg-name">
                                                        {{item.name}}
                                                        <span class="msg-time float-end">{{item.date | date:'yyyy-MM-dd'}}</span>
                                                    </h6>
                                                    <p class="msg-info otro">{{item.description}}</p>
                                                </div>
                                            </div>
                                        </a>
                                    </ng-container>
                                </div>
                                <a
                                    href="javascript:;"
                                    (click)="$event.stopPropagation(); viewAllNotifications()"
                                >
                                    <div class="text-center msg-footer">Read all notifications</div>
                                </a>
                            </div>
                        </li>
                    </ul>
                </div>
                <div class="user-box dropdown">
                    <a
                        class="d-flex align-items-center nav-link dropdown-toggle dropdown-toggle-nocaret"
                        href="#"
                        role="button"
                        data-bs-toggle="dropdown"
                        aria-expanded="false"
                    >
                        <img
                            src={{currentUser.foto}}
                            class="user-img"
                            alt="user avatar"
                        >
                        <div class="user-info ps-3">
                            <p class="user-name mb-0">{{currentUser.name}}</p>
                            <p class="designattion mb-0">{{currentUser.role}}</p>
                        </div>
                    </a>
                    <ul class="dropdown-menu dropdown-menu-end">
                        <li>
                            <a
                                class="dropdown-item"
                                href="javascript:;"
                                (click)="profile()"
                            >
                                <i class="bx bx-user"></i>
                                <span>Profile</span>
                            </a>
                        </li>
                        <li>
                            <div class="dropdown-divider mb-0"></div>
                        </li>
                        <li>
                            <a
                                class="dropdown-item"
                                (click)="logout()"
                            >
                                <i class='bx bx-log-out-circle'></i>
                                <span>Logout</span>
                            </a>
                        </li>
                    </ul>
                </div>
            </nav>
        </div>
    </header>
    <!-- end header " [ngStyle]="{'height.px': this.pageContentStyle}" -->
    <div class="page-wrapper">
        <div
            class="page-content page-content-mine "
            [ngStyle]="{'height.px': this.pageContentStyle}"
            #target
            (scroll)="onScroll($event)"
        >
            <router-outlet></router-outlet>
        </div>
    </div>
    <!-- start overlay -->
    <div class="overlay toggle-icon"></div>
    <!-- end overlay -->
    <!-- Start Back To Top Button -->
    <a
        href="javaScript:;"
        class="back-to-top"
    >
        <i class='bx bxs-up-arrow-alt'></i>
    </a>
    <!-- End Back To Top Button -->
    <footer
        *ngIf="currentUser"
        class="page-footer page-footer-mine"
    >
        <p class="mb-0">Copyright © 2021. All right reserved.</p>
    </footer>
</div>
