<div class="row">
    <div class="col-12 mx-auto">
        <div class="border-0 border-4 border-white">
            <div class="card-body p-5">
                <div class="card-title d-flex align-items-center">
                    <div>
                        <i class="bx bxs-user me-1 font-22 text-white"></i>
                    </div>
                    <h5 class="mb-0 text-white">Create janitor</h5>
                </div>
                <hr>
                <form
                    class="row g-3"
                    [formGroup]="videoForm"
                    (ngSubmit)="submitForm()"
                >
                    <div class="col-12">
                        <mat-form-field class="form-control">
                            <mat-label class="form-label">Name:</mat-label>
                            <input
                                formControlName="name"
                                matInput
                                requeried
                                maxlength="50"
                            >
                            <mat-error *ngIf="nameControl && nameControl.invalid">
                                <mat-error *ngIf="nameControl.errors && nameControl.errors['required']">{{requiredField}}</mat-error>
                                <mat-error *ngIf="this.videoForm.controls['name'].hasError('maxLength')">{{maxField}}</mat-error>
                            </mat-error>
                        </mat-form-field>
                    </div>
                    <div class="col-12">
                        <mat-form-field class="form-control">
                            <mat-label class="form-label">Last name:</mat-label>
                            <input
                                formControlName="lastname"
                                matInput
                                requeried
                                maxlength="50"
                            >
                            <mat-error *ngIf="lastnameControl && lastnameControl.invalid">
                                <mat-error *ngIf="lastnameControl.errors && lastnameControl.errors['required']">{{requiredField}}</mat-error>
                                <mat-error *ngIf="this.videoForm.controls['lastname'].hasError('maxLength')">{{maxField}}</mat-error>
                            </mat-error>
                        </mat-form-field>
                    </div>
                    <div class="col-12">
                        <div class="col-11 containerToggle">
                            <mat-form-field class="form-control">
                                <mat-label class="form-label">Turn type:</mat-label>
                                <mat-select
                                    formControlName="turn"
                                    requeried
                                >
                                    <mat-option
                                        *ngFor="let key of turnsData"
                                        [value]="key.id"
                                    >
                                        {{key.name}}
                                    </mat-option>
                                </mat-select>
                                <mat-error *ngIf="turnControl && turnControl.invalid">
                                    <mat-error *ngIf="turnControl.errors && turnControl.errors['required']">{{requiredField}}</mat-error>
                                </mat-error>
                            </mat-form-field>
                        </div>
                        <div
                            class="col-1 padding-btn"
                            style="display: inline-block;"
                        >
                            <button
                                type="button"
                                class="btn btn-light"
                                (click)="$event.stopPropagation();
                                    goTo('turn')"
                            >
                                <i class="fadeIn animated bx bx-plus"></i>
                            </button>
                        </div>
                    </div>
                    <div class="col-12">
                        <div class="col-11 containerToggle">
                            <mat-form-field class="form-control">
                                <mat-label class="form-label">Cleaning company:</mat-label>
                                <mat-select
                                    formControlName="company"
                                    requeried
                                >
                                    <mat-option
                                        *ngFor="let key of companyData"
                                        [value]="key.id"
                                    >
                                        {{key.name}}
                                    </mat-option>
                                </mat-select>
                                <mat-error *ngIf="companyControl && companyControl.invalid">
                                    <mat-error *ngIf="companyControl.errors && companyControl.errors['required']">{{requiredField}}</mat-error>
                                </mat-error>
                            </mat-form-field>
                        </div>
                        <div
                            class="col-1 padding-btn"
                            style="display: inline-block;"
                        >
                            <button
                                type="button"
                                class="btn btn-light"
                                (click)="$event.stopPropagation();
                                          goTo('company')"
                            >
                                <i class="fadeIn animated bx bx-plus"></i>
                            </button>
                        </div>
                    </div>
                    <div class="col-12">
                        <mat-form-field class="form-control">
                            <mat-label class="form-label">Phone number:</mat-label>
                            <input
                                formControlName="phone"
                                matInput
                                requeried
                                maxlength="50"
                            >
                            <mat-error *ngIf="phoneControl && phoneControl.invalid">
                                <mat-error *ngIf="phoneControl.errors && phoneControl.errors['required']">{{requiredField}}</mat-error>
                                <mat-error *ngIf="phoneControl.errors && phoneControl.errors['notNumber']">{{onlyNumbres}}</mat-error>
                            </mat-error>
                        </mat-form-field>
                    </div>

                    <div class="row row-cols-auto g-3">
                        <div class="col">
                            <button
                                type="button"
                                mat-raised-button
                                color="primary"
                                (click)="$event.stopPropagation();
                                        returnToList()"
                            >
                                Cancel
                            </button>
                        </div>
                        <div class="col">
                            <button
                                type="submit"
                                mat-raised-button
                                color="primary"
                            >
                                Add
                            </button>
                        </div>
                    </div>
                </form>
            </div>
        </div>
    </div>
</div>
