<div class="card-title d-flex align-items-center">
    <div class="customers-list-item d-flex align-items-center p-2
        cursor-pointer">
        <div>
            <img
                src={{foto}}
                class="rounded-circle"
                width="80"
                height="80"
                alt="user avatar">
        </div>
        <div class="ms-2">
            <h5 class="mb-1 font-14 text-white">Audited by:</h5>
            <p class="font-size-sm">{{nameQA}}</p>
        </div>
    </div>
</div>
<hr>
<form
    class="row g-3"
    [formGroup]="mainForm"
    (ngSubmit)="submitForm()">
    <div class="col-6">
        <mat-form-field class="form-control">
            <input
                matInput
                formControlName="date"
                [matDatepicker]="picker"
                placeholder="Select date....">
            <mat-datepicker-toggle
                matSuffix
                [for]="picker"></mat-datepicker-toggle>
            <mat-datepicker #picker></mat-datepicker>
        </mat-form-field>
    </div>
    <div class="col-6">
        <mat-form-field class="form-control">
            <mat-label class="requeried form-label">Carcase:</mat-label>
            <input
                matInput
                formControlName="carcase"
                type="number">
            <mat-error *ngIf="carcaseControl && carcaseControl.invalid">
                <mat-error *ngIf="carcaseControl.errors &&
                    carcaseControl.errors['required']">{{requiredField}}</mat-error>
            </mat-error>
        </mat-form-field>
    </div>

    <div class="col-6">
        <div class="col-6">
            <div class="col-12">
                <div class="col-6 containerToggle">
                    <mat-label class="label-toogle">Removed:</mat-label>
                </div>
                <div
                    class="col-6"
                    style="display: inline-block;">
                    <mat-label class="label-toogle">No</mat-label>
                    <mat-slide-toggle
                        formControlName="removed"
                        color="primary"
                        class="margin-toogle">
                        Yes
                    </mat-slide-toggle>
                </div>
            </div>
        </div>
        <div class="col-6">
            <div class="col-12">
                <div class="col-6 containerToggle">
                    <mat-label class="label-toogle">Slaugther:</mat-label>
                </div>
                <div
                    class="col-6"
                    style="display: inline-block;">
                    <mat-label class="label-toogle">No</mat-label>
                    <mat-slide-toggle
                        formControlName="slaugther"
                        color="primary"
                        class="margin-toogle">
                        Yes
                    </mat-slide-toggle>
                </div>
            </div>
        </div>
    </div>
    <div class="col-6">
        <div class="col-12">
            <div class="col-6">
                <div class="col-6 containerToggle">
                    <mat-label class="form-label">Notified:</mat-label>
                </div>
                <div
                    class="col-6"
                    style="display: inline-block;">
                    <mat-label class="label-toogle">No</mat-label>
                    <mat-slide-toggle
                        formControlName="notified"
                        color="primary"
                        class="margin-toogle">
                        Yes
                    </mat-slide-toggle>
                </div>
            </div>
        </div>
    </div>

    <div class="row row-cols-auto g-3">
        <div class="col">
            <button
                type="button"
                mat-raised-button
                color="primary"
                (click)="$event.stopPropagation();
                clearForm()">
                Cancel
            </button>
        </div>
        <div class="col">
            <button
                type="submit"
                mat-raised-button
                color="primary">
                Add
            </button>
        </div>
    </div>
</form>
