<div class="row">
    <div class="col-12 mx-auto">
        <h6 class="mb-0 text-uppercase">Historico sop</h6>
        <hr>
        <div class="card border-top border-0 border-4 border-white">
            <div class="card-body p-5">
                <app-mat-data-table
                    [selectAvailable]="true"
                    #tabla
                    [serviceData]="service"
                    [verticalLine]="true"
                >
                    <app-mat-column-table
                        title="Verificado por:"
                        matColumnDef="users"
                        type="string"
                        [sort]="true"
                    >
                        <td
                            mat-cell
                            style="text-align: right"
                            *matCellDef="let row"
                        >
                            <img
                                src={{row.users.foto}}
                                class="rounded-circle mySpacer"
                                width="40"
                                height="40"
                                alt="user avatar"
                            >
                            {{row.users.name}}
                        </td>
                    </app-mat-column-table>
                    <app-mat-column-table
                        title="Estado"
                        matColumnDef="status"
                        type="string"
                        [sort]="true"
                    >
                        <td
                            mat-cell
                            style="text-align: right"
                            *matCellDef="let row"
                        >
                            {{row.status}}
                        </td>
                    </app-mat-column-table>
                    <app-mat-column-table
                        title="Periodo"
                        matColumnDef="periodo"
                        type="string"
                        [sort]="true"
                    >
                        <td
                            mat-cell
                            style="text-align: right"
                            *matCellDef="let row"
                        >
                            {{row.periodo}}
                        </td>
                    </app-mat-column-table>
                    <app-mat-column-table
                        title="Fecha"
                        matColumnDef="date"
                        type="date"
                        [sort]="true"
                    >
                        <td
                            mat-cell
                            style="text-align: right"
                            *matCellDef="let row"
                        >
                            {{row.date}}
                        </td>
                    </app-mat-column-table>
                    <div style="display: none;"></div>
                    <app-mat-paginator-data-table [pageSizeOptions]="[5,10,25,100]"></app-mat-paginator-data-table>
                    <app-mat-error-data-table>
                        Existen problemas al cargar los datos.
                        <br>
                        <button
                            mat-raised-button
                            color="warn"
                            (click)="tabla.reloadData()"
                        >
                            Recargar
                        </button>
                    </app-mat-error-data-table>
                </app-mat-data-table>
            </div>
        </div>
    </div>
</div>
